<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        #AlertBox {
            position: absolute;
            z-index: 1400;
            top: -1%;
            right: 4%;
            margin: 0px auto;
            text-align: center;
            display: none;
        }

        img {
            height: auto;
            width: 100%;
        }

        table {
            background-color: #337ab7 !important;
            width: 100%;

            margin-bottom: 10px;
        }

        img {
            border: 0;
        }

        h3 {
            color: #fff !important;
            text-align: center;
        }


        .slectedImage {
            width: 200px !important;
        }

        .body-content {
            padding: 0px 20px 0px 20px !important;
        }

        img.highlight {
            border: 5px solid grey;
        }


        .btn-look {
            position: fixed;
            right: 30px;
            bottom: 20px;
        }

        .slick-next {
            right: -15px !important;
        }

        .slick-prev {
            left: -15px !important;
        }

        .modal-backdrop.in {
            z-index: -1;
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 24px !important;
            background-color: black !important;
        }

        .modal .modal-dialog .modal-content {
            margin-top: 100px;
        }

        .slick-slide img {
            width: 225px !important;
            height: 225px !important;
        }

        .slick-slide {
            margin-left: 10px;
            margin-right: 10px;
        }

        .model-open {
            display: block !important;
        }

        .slick-dotted.slick-slider,
        .slectedImage {
            margin-bottom: 10px !important;
            margin-left: 12px;
        }
        /* @media (min-width: 768px) {
            .modal-dialog {
                width: 900px !important;
            }
        } */

        .col-md-4,
        .col-md-6 {
            overflow-y: scroll;
            height: 600px;
            text-align: center;
        }


        .imageItem {
            width: 200px;
            margin: 0 auto;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        .imageItemSlected {
            width: 215px;
            border-radius: 25px;
            border: 3px solid rgba(38, 101, 216, 0.678);
        }

        .selected img {
            border: 2px solid blue;
        }


        .toptext {
            margin-left: 25px;
        }
    </style>
</head>

<body>

    <div class="row">

        <table>

            <tr>
                <td>
                    <h3 class="toptext">Top</h3>
                </td>
                <td>
                    <h3 class="bottomtext">Bottom</h3>
                </td>
                <td>
                    <h3 class="shoestext">Shoes</h3>
                </td>
            </tr>
        </table>


        <div class="col-md-4">
            <div class="imageItem" data-ng-repeat="item in shirts track by $index">
                <img class="image1" ng-class="{'imageItemSlected' : $index==imageIndex1}" ng-click="imageClick(item,$index)" src="{{item.productimage}}">
            </div>
        </div>


        <div class="col-md-4">
            <div class="imageItem" data-ng-repeat="item in pents track by $index">
                <img class="image1" ng-class="{'imageItemSlected' : $index==imageIndex2 }" ng-click="imageClick(item,$index)" src="{{item.productimage}}">
            </div>
        </div>


        <div class="col-md-4">

            <div class="imageItem" data-ng-repeat="item in shoes track by $index">
                <img class="image1" ng-class="{'imageItemSlected' : $index==imageIndex3}" ng-click="imageClick(item,$index)" src="{{item.productimage}}">
            </div>
        </div>



    </div>
    <button type="button" ng-disabled="showGenerateButton" class="btn btn-look  btn-primary" data-toggle="modal" data-target="#myModal">Generate Look</button>

    <div style="z-index: 1045" class="modal fade in " id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Generated Look</h4>
                </div>


                <div class="modal-body">

                    <div class="slectedImage">
                        <img class="slectedImage" src="{{slectedImage}}" alt="item.name">
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="imageItem" data-ng-repeat="item in compatibleItems1  track by $index">
                                <img class="image1" src="{{item.productimage}}">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="imageItem" data-ng-repeat="item in compatibleItems2 track by $index">
                                <img class="image1" src="{{item.productimage}}">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div> -->

        </div>
    </div>


    <script>
        function myCtrl($scope, $window) {
            $scope.vm = {};
            $scope.vm.Courses = [{
                    Id: 1,
                    Name: "Course 1"
                },
                {
                    Id: 2,
                    Name: "Course 2"
                }
            ];

            $scope.ToggleCourse = function (course) {
                $scope.selected = course;
            }
        }

        // $(document).ready(function () {
        //     $('.image1').click(function (e) {
        //         $('.image1').not(e.target).removeClass('highlight');
        //         $(this).toggleClass('highlight');
        //     });

        // });
    </script>

</body>

</html>