<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="panel rounded shadow no-overflow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Browse</h3>
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                </div><!-- /.pull-right -->
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <form>
                    <div class="form-group no-margin">
                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.looktype" ng-model="settings.selectedlooktype" ng-change="changeLooktype(settings.selectedlooktype)">
                            <option value="" disabled>Select a Look-Type</option>
                        </select>
                        
                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.gender" ng-model="settings.selectedgender" ng-change="changeGender(settings.selectedgender)">
                            <option value="" disabled>Select a Gender</option>
                        </select>

                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.size" ng-model="settings.selectedsize">
                            <option value="" disabled>Select a Sizes</option>
                        </select>

                        <select class="form-control input-sm mb-15" name="brand" ng-options="opt for opt in settings.brand" ng-model="settings.selectedbrand">
                            <option value="" disabled>Select a Brand</option>
                        </select>



                        <button type="submit" class="btn btn-primary btn-block" ng-click="search(settings);">Search</button>
                        <button type="button" class="btn btn-danger btn-block" ng-click="reset(settings);">Reset</button>
                    </div><!-- /.form-group -->
                </form>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
        <div class="media-list list-search">
            <div class="media rounded shadow no-overflow" ng-repeat="product in products" style="border:solid">
                <div class="media-left">
                    <a href="#">
                        <img src={{product[0].productimage?product[0].productimage:'no-image.png'}} class="img-responsive media-object" alt="{{product[0].name?product[0].name:'No Image'}}"/>
                    </a>
                </div>
                <div class="media-left">
                    <a href="#">
                        <img src={{product[1].productimage?product[1].productimage:'no-image.png'}} class="img-responsive media-object" alt="{{product[1].name?product[1].name:'No Image'}}"/>
                    </a>
                    
                </div>
                <div class="media-left">
                    <a href="#">
                        <img src={{product[2].productimage?product[2].productimage:'no-image.png'}} class="img-responsive media-object" alt="{{product[2].name?product[2].name:'No Image'}}"/>
                    </a>
                </div>
                <div class="media-body">
                    <p> <label>Top:   {{product[0].name}}, {{product[0].gender}}, {{product[0].size}}, {{product[0].brand}}
                        
                    </label><div class="meta-search"></div>
                        <p> <label>Bottom:   {{product[1].name}}, {{product[1].gender}}, {{product[1].size}}, {{product[1].brand}}
                        <div class="meta-search"></div>
                        <p> <label>Shoes:   {{product[2].name}}, {{product[2].gender}}, {{product[2].size}}, {{product[2].brand}}
                    </p>
                    <div class="meta-search"></div>
                </div>
            </div>



            <!--<p class="text-center"><img data-ng-src="{{settings.baseURL}}/assets/global/img/loader/general/2.gif" alt="..."> Load more courses</p>-->
        </div>
    </div>
</div><!-- /.row -->