<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="panel rounded shadow no-overflow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Browse</h3>
                </div>
                <!-- /.pull-left -->
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip"
                        data-placement="top" data-title="Collapse">
                        <i class="fa fa-angle-up"></i>
                    </button>
                </div>
                <!-- /.pull-right -->
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form>
                    <div class="form-group no-margin">
                        <select class="form-control input-sm mb-15" ng-options="opt for opt in looks" ng-model="settings.selectedlooktype">
                            <option value="" disabled>Select a Look-Type</option>
                        </select>

                        <select class="form-control input-sm mb-15" ng-options="opt for opt in genders" ng-model="settings.selectedgender">
                            <option value="" disabled>Select a Gender</option>
                        </select>



                        <button type="submit" class="btn btn-primary btn-block" ng-click="search(settings);">Search</button>
                        <button type="button" class="btn btn-danger btn-block" ng-click="reset(settings);">Reset</button>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 pd-10">
        <div class="media-list list-search">

            <h1  ng-show="Looksvisible" class="ng-hide">Sorry! No Looks are available now.</h1>

            <div class="media rounded shadow no-overflow" ng-repeat="look  in generatedLooks track by $index" style="border:solid">

                <div class="media-left">
                    <img src={{look.shirt}} class="rounded" class="img-responsive media-object" width="150" height="200" />
                    <div >
                        <h4 class="col-md-20 col-md-offset-1">Top: {{look.shirtName}}</h4>
                    </div>
                </div>
                <div class="media-left">

                    <img src={{look.pent}} class="rounded" class="img-responsive media-object" width="150" height="200" />


                    <div>
                        <h4  class="col-md-20 col-md-offset-1" >Bottom: {{look.pentName}}</h4>
                    </div>
                </div>
                <div class="media-left">

                    <img src={{look.shoe}} class="rounded" class="img-responsive media-object" width="150" height="200" />

                    <div class="caption">
                        <h4  class="col-md-20 col-md-offset-1">Shoes: {{look.shoeName}}</h4>
                    </div>

                </div>
                <div class="media-body">

                    <!-- <label>Top: {{look.shirtName}} </label>


                    <label>Bottom: {{look.pentName}}</label>


                    <label>Shoes: {{look.shoeName}}</label> -->


                </div>
            </div>

            <!--<p class="text-center"><img data-ng-src="{{settings.baseURL}}/assets/global/img/loader/general/2.gif" alt="..."> Load more courses</p>-->
        </div>
    </div>
</div>
<!-- /.row -->