<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" data-ng-app="blankonApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" data-ng-app="blankonApp"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" data-ng-app="blankonApp"> <!--<![endif]-->

    <!-- START @HEAD -->
    <head>
        <!-- START @META SECTION -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Bingooin">
        <meta name="author" content="TxLabz">
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <title data-ng-bind="$state.current.data.pageTitle + ' | BingooIn'"></title>
        <!--/ END META SECTION -->

        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
        <!-- START @FAVICONS
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon.png" rel="shortcut icon">
        <!--/ END FAVICONS -->

        <!-- START @FONT STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
        <!--/ END FONT STYLES -->

        <!-- START @GLOBAL MANDATORY STYLES -->
        <link data-ng-href="{{settings.pluginPath}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/animate.css/animate.min.css" rel="stylesheet">
        <link data-ng-href="{{settings.pluginPath}}/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
        <!--/ END GLOBAL MANDATORY STYLES -->

        <!-- START @PAGE LEVEL STYLES -->
        <link id="load_css_before"/>
        <!--/ END PAGE LEVEL STYLES -->

        <!-- START @THEME STYLES -->
        <link data-ng-href="{{settings.cssPath}}/reset.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/layout.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/components.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/plugins.css" rel="stylesheet">
        <link data-ng-href="{{settings.cssPath}}/themes/angularjs-theme.css" rel="stylesheet" id="theme">
        <link data-ng-href="{{settings.cssPath}}/custom.css" rel="stylesheet">
        <!--/ END THEME STYLES -->

        <!-- START @ANGULARJS STYLES -->
        <link data-ng-href="{{settings.cssPath}}/angular-custom.css" rel="stylesheet">
        <!-- END @ANGULARJS STYLES -->

        <!-- START @IE SUPPORT -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="assets/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>
        <![endif]-->
        <!--/ END IE SUPPORT -->
    </head>
    <!--/ END HEAD -->

    <!--

    |=========================================================================================================================|
	|  TABLE OF CONTENTS (Use search to find needed section)                                                                  |
	|=========================================================================================================================|
    |  01. @HEAD                        |  Container for all the head elements                                                |
	|  02. @META SECTION                |  The meta tag provides metadata about the HTML document                             |
	|  03. @FAVICONS                    |  Short for favorite icon, shortcut icon, website icon, tab icon or bookmark icon    |
	|  04. @FONT STYLES                 |  Font from google fonts                                                             |
	|  05. @GLOBAL MANDATORY STYLES     |  The main 3rd party plugins css file                                                |
	|  06. @PAGE LEVEL STYLES           |  Specific 3rd party plugins css file                                                |
	|  07. @THEME STYLES                |  The main theme css file                                                            |
	|  08. @IE SUPPORT                  |  IE support of HTML5 elements and media queries                                     |
	|=========================================================================================================================|
	|  09. @BODY                        |  Contains all the contents of an HTML document                                      |
	|  10. @WRAPPER                     |  Wrapping page section                                                              |
	|  11. @SIGN WRAPPER                |  Wrapping sign design                                                               |
	|=========================================================================================================================|
	|  12. @CORE PLUGINS                |  The main 3rd party plugins script file                                             |
	|  13. @CORE ANGULARJS PLUGINS      |  The main script AngularJS                                                          |
	|  14. @PAGE LEVEL SCRIPTS          |  The main theme script file                                                         |
	|=========================================================================================================================|

    START @BODY
    |=========================================================================================================================|
	|  TABLE OF CONTENTS (Apply to body class)                                                                                |
	|=========================================================================================================================|
    |  01. page-boxed                   |  Page into the box is not full width screen                                         |
	|  02. page-sound                   |  For playing sounds on user actions and page events                                 |
	|=========================================================================================================================|

	-->
    <body class="page-sound">

        <!--[if lt IE 9]>
        <p class="upgrade-browser">Upps!! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- START @SIGN WRAPPER -->
        <div id="sign-wrapper">

            <div data-ui-view></div>

        </div><!-- /#sign-wrapper -->
        <!--/ END SIGN WRAPPER -->

        <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
        <!-- START @CORE PLUGINS -->
        <script src="assets/global/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="assets/global/plugins/bower_components/jquery-cookie/jquery.cookie.js"></script>
        <script src="assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/global/plugins/bower_components/ionsound/js/ion.sound.min.js"></script>
        <script src="assets/global/plugins/bower_components/retina.js/dist/retina.min.js"></script>
        <!--/ END CORE PLUGINS -->

        <!-- BEGIN @CORE ANGULARJS PLUGINS -->
        <script src="assets/global/plugins/bower_components/angular/angular.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular/angular-sanitize.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular/angular-touch.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular/angular-animate.min.js"></script>
        <script src="assets/global/plugins/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="assets/global/plugins/bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
        <!-- END @CORE ANGULARJS PLUGINS -->

        <!-- START @PAGE LEVEL SCRIPTS -->
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <!--/ END PAGE LEVEL SCRIPTS -->

        <!--/ END JAVASCRIPT SECTION -->

        <!-- START GOOGLE ANALYTICS -->
       <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97619974-1', 'auto');
  ga('send', 'pageview');

</script>
        <!--/ END GOOGLE ANALYTICS -->

    </body>
    <!-- END BODY -->

</html>