<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" data-ng-app="blankonApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" data-ng-app="blankonApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="blankonApp">
<!--<![endif]-->

<!-- START @HEAD -->

<head>
    <!-- START @META SECTION -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bingooin">

    <meta name="author" content="Txlabz">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title data-ng-bind="$state.current.data.pageTitle + ' | BingooIn'"></title>
    <!--/ END META SECTION -->

    <!-- START @FAVICONS
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
        <link href="http://themes.djavaui.com/blankon-fullpack-admin-theme/img/ico/html/apple-touch-icon.png" rel="shortcut icon">
        <!--/ END FAVICONS -->

    <!-- START @FONT STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700,400" rel="stylesheet">
    <!--/ END FONT STYLES -->

    <!-- START @GLOBAL MANDATORY STYLES -->
    <!-- <link data-ng-href="{{settings.pluginPath}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link data-ng-href="{{settings.pluginPath}}/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link data-ng-href="{{settings.pluginPath}}/animate.css/animate.min.css" rel="stylesheet">
    <link data-ng-href="{{settings.pluginPath}}/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
    <!--/ END GLOBAL MANDATORY STYLES -->

    <!-- START @PAGE LEVEL STYLES -->
    <link id="load_css_before" />
    <!--/ END PAGE LEVEL STYLES -->

    <!-- START @THEME STYLES -->
    <link data-ng-href="{{settings.cssPath}}/reset.css" rel="stylesheet">
    <link data-ng-href="{{settings.cssPath}}/layout.css" rel="stylesheet">
    <link data-ng-href="{{settings.cssPath}}/components.css" rel="stylesheet">
    <link data-ng-href="{{settings.cssPath}}/plugins.css" rel="stylesheet">
    <link data-ng-href="{{settings.cssPath}}/themes/angularjs-theme.css" rel="stylesheet" id="theme">
    <link data-ng-href="{{settings.cssPath}}/custom.css" rel="stylesheet">
    <!--/ END THEME STYLES -->

    <!-- START @ANGULARJS STYLES -->
    <link data-ng-href="{{settings.cssPath}}/angular-custom.css" rel="stylesheet">
    <!-- END @ANGULARJS STYLES -->

    <!-- START @IE SUPPORT -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="assets/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>
        <![endif]-->
    <!--/ END IE SUPPORT -->
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<!--/ END HEAD -->

<!--

    |=========================================================================================================================|
    |  TABLE OF CONTENTS (Use search to find needed section)                                                                  |
    |=========================================================================================================================|
    |  01. @HEAD                        |  Container for all the head elements                                                |
    |  02. @META SECTION                |  The meta tag provides metadata about the HTML document                             |
    |  03. @FAVICONS                    |  Short for favorite icon, shortcut icon, website icon, tab icon or bookmark icon    |
    |  04. @FONT STYLES                 |  Font from google fonts                                                             |
    |  05. @GLOBAL MANDATORY STYLES     |  The main 3rd party plugins css file                                                |
    |  06. @PAGE LEVEL STYLES           |  Specific 3rd party plugins css file                                                |
    |  07. @THEME STYLES                |  The main theme css file                                                            |
    |  08. @ANGULARJS STYLES            |  Customize AngularJS style                                                          |
    |  09. @IE SUPPORT                  |  IE support of HTML5 elements and media queries                                     |
    |=========================================================================================================================|
    |  10. @BODY                        |  Contains all the contents of an HTML document                                      |
    |  11. @LOADING ANIMATION           |  Loading animation when the page reload                                             |
    |  12. @WRAPPER                     |  Wrapping page section                                                              |
    |  13. @HEADER                      |  Header page section contains about logo, top navigation, notification menu         |
    |  14. @SIDEBAR LEFT                |  Sidebar page section contains all sidebar menu left                                |
    |  15. @PAGE CONTENT                |  Contents page section contains breadcrumb, content page, footer page               |
    |  16. @SIDEBAR RIGHT               |  Sidebar page section contains all sidebar menu right                               |
    |  17. @BACK TOP                    |  Element back to top and action                                                     |
    |=========================================================================================================================|
    |  18. @CORE PLUGINS                |  The main 3rd party plugins script file                                             |
    |  19. @CORE ANGULARJS PLUGINS      |  The main 3rd party AngularJS plugins script file                                   |
    |  20. @PAGE LEVEL PLUGINS          |  Specific 3rd party plugins script file                                             |
    |  21. @PAGE LEVEL SCRIPTS          |  The main theme script file                                                         |
    |=========================================================================================================================|

    START @BODY
    |=========================================================================================================================|
	|  TABLE OF CONTENTS (Apply to body class)                                                                                |
	|=========================================================================================================================|
    |  01. page-boxed                   |  Page into the box is not full width screen                                         |
	|  02. page-header-fixed            |  Header element become fixed position                                               |
	|  03. page-sidebar-fixed           |  Sidebar element become fixed position with scroll support                          |
	|  04. page-sidebar-minimize        |  Sidebar element become minimize style width sidebar                                |
	|  05. page-footer-fixed            |  Footer element become fixed position with scroll support on page content           |
	|  06. page-sound                   |  For playing sounds on user actions and page events                                 |
	|=========================================================================================================================|

	-->

<body data-ng-controller="BlankonCtrl" class="page-session page-sound page-header-fixed page-sidebar-fixed">

    <!--[if lt IE 9]>
        <p class="upgrade-browser">Upps!! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- START @WRAPPER -->
    <section id="wrapper">

        <!-- START @HEADER -->
        <header data-ng-include="'partials/header.html'" id="header"></header>
        <!-- /#header -->
        <!--/ END HEADER -->
        <!--

            START @SIDEBAR LEFT
            |=========================================================================================================================|
            |  TABLE OF CONTENTS (Apply to sidebar left class)                                                                        |
            |=========================================================================================================================|
            |  01. sidebar-box               |  Variant style sidebar left with box icon                                              |
            |  02. sidebar-rounded           |  Variant style sidebar left with rounded icon                                          |
            |  03. sidebar-circle            |  Variant style sidebar left with circle icon                                           |
            |=========================================================================================================================|

            -->
        <aside data-sidebar-left-nicescroll data-sidebar-minimize data-ng-include="'partials/sidebar-left.html'" id="sidebar-left"
            class="sidebar-circle"></aside>
        <!-- /#sidebar-left -->
        <!--/ END SIDEBAR LEFT -->

        <!-- START @PAGE CONTENT -->
        <section id="page-content">

            <!-- Start page header -->
            <div class="header-content" data-ng-include="'partials/header-content.html'"></div>
            <!-- /.header-content -->
            <!--/ End page header -->

            <!-- Start body content -->
            <div data-ui-view class="body-content animated fadeIn"></div>
            <!-- /.body-content -->
            <!--/ End body content -->

            <!-- Start footer content -->
            <!--<footer class="footer-content" data-ng-include="'partials/footer.html'"></footer>-->
            <!-- /.footer-content -->
            <!--/ End footer content -->

        </section>
        <!-- /#page-content -->
        <!--/ END PAGE CONTENT -->

        <!-- START @SIDEBAR RIGHT -->
        <aside data-choose-themes data-navbar-color data-sidebar-color data-layout-setting data-ng-include=" 'partials/sidebar-right.html' "
            id="sidebar-right"></aside>
        <!-- /#sidebar-right -->
        <!--/ END SIDEBAR RIGHT -->

    </section>
    <!-- /#wrapper -->
    <!--/ END WRAPPER -->

    <!-- START @BACK TOP -->
    <!--<div data-back-top id="back-top" class="animated pulse circle">
            <i class="fa fa-angle-up"></i>
        </div>-->
    <!-- /#back-top -->
    <!--/ END BACK TOP -->

    <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->


    <!-- START @CORE PLUGINS -->

    <!-- Adding JQuery from CDN  -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->

    <!-- Adding Bootstrap from CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.js"></script> -->


    <!-- Adding bootstrap localy -->
    <!-- <script src="assets/global/plugins/bower_components/bootstrap4/bootstrap.min.css"></script>
    <script src="assets/global/plugins/bower_components/bootstrap4/bootstrap.min.js"></script>-->
    <!-- <script src="assets/global/plugins/bower_components/bootstrap4/bootstrap-modal.js"></script> -->



    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'> -->

    <!-- <script src="assets/global/plugins/bower_components/jquery/dist/jquery.min.js"></script> -->
    <script src="assets/global/plugins/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <!-- <script src="assets/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- <script src="assets/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <script src="assets/global/plugins/bower_components/jquery-easing-original/jquery.easing.1.3.min.js"></script> -->
    <script src="assets/global/plugins/bower_components/jquery.sparkline.min/index.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/global/plugins/bower_components/ionsound/js/ion.sound.min.js"></script>
    <script src="assets/global/plugins/bower_components/bootbox/bootbox.js"></script>
    <script src="assets/global/plugins/bower_components/retina.js/dist/retina.min.js"></script>
    <script src="assets/global/plugins/bower_components/moment/moment.js"></script>
    <!--/ END CORE PLUGINS -->

    <!-- BEGIN @CORE ANGULARJS PLUGINS -->
    <script src="assets/global/plugins/bower_components/angular/angular.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular/angular-sanitize.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular/angular-touch.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular/angular-animate.min.js"></script>
    <script src="assets/global/plugins/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="assets/global/plugins/bower_components/angular-moment/angular-moment.js"></script>
    <!-- END @CORE ANGULARJS PLUGINS -->

    <!-- START @PAGE LEVEL SCRIPTS -->
    <!--  only for slick slider -->
    <!-- <script type="text/javascript" src="http//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/admin/js/pages/slick.min.js"></script> -->


      <!-- only for flexslider -->
    <!-- <script src="assets/global/plugins/bower_components/jquery/jquery.js"></script> -->
    <!-- <script src="assets/global/plugins/bower_components/flexslider/jquery.flexslider.js"></script> -->
    <!-- <script src="assets/global/plugins/bower_components/angular/angular.js"></script> -->
    <!-- <script src="assets/global/plugins/bower_components/angular-flexslider/angular-flexslider.js"></script> -->

    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <!--/ END PAGE LEVEL SCRIPTS -->

    <!--/ END JAVASCRIPT SECTION -->

    <!-- START GOOGLE ANALYTICS -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97619974-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--/ END GOOGLE ANALYTICS -->

</body>
<!--/ END BODY -->

</html>