<style>
    #AlertBox {
        position: absolute;
        z-index: 1400;
        top: -1%;
        right: 4%;
        margin: 0px auto;
        text-align: center;
        display: none;
    }

    .text-center,
    .border-right {
        vertical-align: middle !important;
        text-align: center !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- Start table horizontal scroll -->
        <div class="table-responsive mb-20">
            <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;padding: 10px;">Successfully performed</div>
            <button class="btn btn-info" ng-click="add()" style="width:100px;margin-bottom:10px;">Add</button>

            <table class="table table-striped table-success">
                <thead>
                    <tr>
                        <th class="text-center border-right" style="width:50px">No.</th>
                        <!--   <th class="text-center border-right">Id</th> -->
                        <th class="text-center border-right">Name</th>
                        <th class="text-center border-right">Image</th>
                        <th class="text-center border-right">Category</th>
                        <!--<th class="text-center border-right">Gender</th>-->
                        <th class="text-center border-right">Brand</th>
                        <th class="text-center border-right">Material</th>
                        <th class="text-center border-right">patterns</th>
                        <th class="text-center border-right">Sizes</th>
                        <!--  <th class="text-center border-right">filters</th> -->
                        <!--             <th class="text-center border-right">Look-Type</th> -->
                        <th class="text-center border-right">Qr-Image</th>
                        <th class="text-center border-right">Date Time</th>
                        <th class="text-center border-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in products" ng-if="table.is_delete!=true">
                        <td class="text-center border-right" style="width:50px;">{{$index + 1}}</td>
                        <td class="border-right">
                            <span>{{table.name}}</span>
                        </td>
                        <td class="border-right">
                            <img src={{table.productimage}} alt="{{table.name}}" width="50" height="50">
                        </td>
                        <td class="text-center border-right">{{table.category[0]+ table.category[1]}}</td>
                        <!--<td class="text-center border-right" >{{table.gender}}</td>-->
                        <td class="text-center border-right">{{table.brand}}</td>
                        <td class="text-center border-right">{{table.material}}</td>
                        <td class="text-center border-right">{{table.pattern}}</td>
                        <td class="text-center border-right">
                            <label ng-repeat="items in table.size">{{items}}
                                <span></span>
                            </label>
                        </td>

                        <!--<td class="text-center border-right" ><label ng-repeat="items in table.size">{{items}}<span ng-show="!$last"> ,</span></label></td>-->
                        <!--                         <td class="text-center border-right"><label ng-repeat="items in table.filter">{{items}}<span ng-show="!$last"> ,</span></label></td>
 -->
                        <!--                         <td class="text-center border-right"><label ng-repeat="items in table.looktype">{{items}}<span ng-show="!$last"> ,</span></label></td>
 -->
                        <td class="text-center border-right">
                            <img src={{table.qr.imagelink}} width="50" height="50">
                        </td>

                        <td class="text-center border-right">{{table.created_at | amDateFormat:'DD MMM, YY | hh:mm A'}}</td>

                        <td class="text-center">
                            <!-- <a data-tooltip class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Download"
                                ng-click="download(table);" target="_blank">
                                <i class="fa fa-download"></i>
                            </a> -->


                            <a data-tooltip class="btn btn-primary btn-xs" data-toggle="edit" data-placement="top" ng-click="edit(table);" data-original-title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <br>
                            <br>
                            <a data-tooltip class="btn btn-primary btn-xs" data-toggle="copy" data-placement="top" ng-click="copyProduct(table);" data-original-title="Copy">
                                <i class="fa fa-edit"></i>
                            </a>
                            <br>
                            <br>
                            <a data-tooltip class="btn btn-danger btn-xs" data-toggle="delete" data-placement="top" ng-click="delete(table);" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <!--/ End table horizontal scroll -->
    </div>
</div>
<!-- /.row -->


<!-- Add Product block  -->
<script type="text/ng-template" id="productForm.html">
    <div class="modal-header">
        <h3>{{title}} Product</h3>
        <span style="color:red" ng-show="_isText_fill||false">please fill all fields</span>
    </div>
    <div class="modal-body">
        <div data-progress-wizard>
            <!--<h4>Progress Bar Wizard</h4>-->
            <div class="panel panel-tab rounded shadow">

                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab3-1" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step 1</span>
                                    <span>Product Details</span>
                                </div>
                            </a>
                        </li>

                        <li ng-repeat="items in steps track by $index">
                            <a href="#tab3-{{$index+2}}" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step {{$index+2}}</span>
                                    <span> {{items}} Compatibility</span>
                                </div>
                            </a>
                        </li>

                        <li ng-show="enableSubmision">
                            <a href="#tab4-4" data-toggle="tab">
                                <i class="fa fa-check-circle"></i>
                                <div>
                                    <span class="text-strong ">Step 4</span>
                                    <span>Confirmation</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <div class="panel-sub-heading">
                    <div class="inner-all">
                        <div class="progress progress-striped active no-margin progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-sub-heading -->

                <!-- Start tabs content -->
                <div class="panel-body">
                    <form class="tab-content form-horizontal" ng-submit="submit(_item.item)" enctype='multipart/form-data' method="post" class="modal-body"
                        class="form-horizontal form-bordered">

                        <div class="tab-pane fade in active inner-all" id="tab3-1">
                            <h4 class="page-header">Details</h4>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Attach Image</b>
                                </label>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src={{imgsrc|| "default-image.jpg"}} alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                    <div ng-show="imageButtons||false">
                                        <span class="btn btn-info btn-file">
                                            <span class="fileinput-new">Select image</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" file-model="myFile" name="file" accept=".jpg,.jpeg,.png">
                                        </span>
                                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Name</b>
                                </label>
                                <input class="form-control rounded" type="text" ng-model="_item.item.name" ng-readonly="nameReadonly||false">
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Product Id</b>
                                </label>
                                <input class="form-control rounded" type="text" ng-model="_item.item.product_id" ng-readonly="nameReadonly||false">

                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Product Link</b>
                                </label>
                                <input class="form-control rounded" type="text" ng-model="_item.item.link" ng-readonly="nameReadonly||false">
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Gender</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="gender" ng-options="opt for opt in _item.gender" ng-model="_item.item.gender">
                                    <option value="" disabled>
                                        <b>Select a Gender</b>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label></label>
                                <div class="col-sm-3">
                                    <label class="control-label">
                                        <b>Category</b>
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel1" ng-valye="$index" ng-model="_item.item.categorylevel1"
                                        ng-options="opt for opt in _item.categorylevel1" ng-change="updateCategorylevel2(_item.item.categorylevel1);updateCategoryLevelBrand(_item.item.categorylevel1);updateCategoryLevelMaterial(_item.item.categorylevel1);updateCategoryLevelPattern(_item.item.categorylevel1);updateCategoryLevelFinishing(_item.item.categorylevel1)">
                                        <option value="" disabled>
                                            <b>Level-1</b>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel2" ng-model="_item.item.categorylevel2" ng-init="_item.categorylevel2[0].value"
                                        ng-options="opt for opt in _item.categorylevel2">
                                        <option value="" disabled>
                                            <b>level-2</b>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel3" ng-model="_item.item.categorylevel3" ng-options="opt for opt in _item.categorylevel3">
                                        <option value="" disabled>
                                            <b>level-3</b>
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Brand</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="brand" ng-options="opt for opt in showBrand" ng-model="_item.item.brand">
                                    <option value="" disabled>
                                        <b>Select a Brand</b>
                                    </option>
                                </select>
                            </div>


                            <!-- <div class="form-group">
                                <label class="control-label">
                                    <b>Material</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="material" ng-options="opt for opt in showMaterial" ng-model="_item.item.material">
                                    <option value="" disabled>
                                        <b>Material Type</b>
                                    </option>
                                </select>
                            </div> -->


                            <div class="form-group">
                                <label class="control-label">
                                    <b>Material</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Material'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="material" ng-model="_item.item.material" ng-options="opt for opt in showMaterial">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Pattern</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="pattern" ng-options="opt for opt in showPattern" ng-model="_item.item.pattern">
                                    <option value="" disabled>
                                        <b>Pattern Type</b>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Finishing</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="finishing" ng-options="opt for opt in showFinshing" ng-model="_item.item.finishing">
                                    <option value="" disabled>Finishing Type</option>
                                </select>
                            </div>

                            <!-- <div class="form-group">
                                <label class="control-label">
                                    <b>Age Groups</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="agegroup" ng-model="_item.item.agegroup" ng-options="opt for opt in _item.agegroup">
                                    <option value="" disabled>
                                        <b>Select Age-Group</b>
                                    </option>
                                </select>
                            </div> -->


                            <div class="form-group">
                                <label class="control-label">
                                    <b>Select Age-Group</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Age-Group'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="" ng-model="_item.item.agegroup" ng-options="opt for opt in _item.agegroup">
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Colors</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Colors'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="" ng-model="_item.item.color" ng-options="opt for opt in _item.color">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Sizes</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Sizes'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="size" ng-model="_item.item.size" ng-options="opt for opt in _item.size">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Seasons</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Seasons'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="season" ng-model="_item.item.season" ng-options="opt for opt in _item.season">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Styels</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="style" ng-options="opt for opt in _item.style" ng-model="_item.item.style">
                                    <option value="" disabled>Available Styels</option>
                                </select>
                            </div>

                            <!-- <div class="form-group">
                                <label class="control-label">
                                    <b>Available Styels</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Style'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="style" ng-model="_item.item.style" ng-options="opt for opt in _item.style">
                                </select>
                            </div> -->

                        </div>

                        <!-- Step 2 and step 3 tabs  starts -->

                        <div class="tab-pane fade inner-all" ng-repeat="($index1,items) in steps track by $index" id="tab3-{{$index+2}}">
                            <div>
                                <h4 class="page-header">{{items | uppercase}}</h4>
                                <div class="form-group">

                                    <label class="control-label ">
                                        <h3>Brands</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('brand',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('brand',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleBrands[$index1]">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="brandCheckbox.steps[$index1]" type="checkbox" checklist-model="filter[steps[$index1]].brand"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>
                                    <label class="control-label">
                                        <h3>Materials</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('material',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('material',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>


                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleMaterials[$index1]">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="materialCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].material"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Patterns</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('pattern',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('pattern',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatiblePatterns[$index1]">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="patternCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].pattern"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Finishes</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('finishing',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('finishing',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleFinishing[$index1]">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="finishingCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].finishing"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>


                                    <label class="control-label">
                                        <h3>Sizes</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('size',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('size',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.size">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="sizeCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].size"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Colors</h3>
                                    </label>
                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('color',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('color',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.color">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="colorCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].color"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Age Groups</h3>
                                    </label>
                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('ageGroup',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('ageGroup',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.agegroup">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="ageGroupCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].agegroup"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Seasons</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('season',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('season',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.season">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="seasonCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].season"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Styles</h3>
                                    </label>
                                    <div class="ckbox ckbox-theme">
                                        <button  type="button" class="btn btn-link" ng-click="checkAll('style',steps[$index1])">Select All</button>
                                        <button  type="button" class="btn btn-link" ng-click="unCheckAll('style',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.style">
                                        <input id="{{rows+'_'+$index1}}" ng-checked="styleCheckbox" type="checkbox" checklist-model="filter[steps[$index1]].style"
                                            checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Step 2 and step 3 tabs ends-->


                        <!-- Step 4 tab  -->
                        <div class="tab-pane fade inner-all" id="tab4-4">
                            <h4 class="page-header">Confirmation</h4>
                            <div class="ml-10">
                                <p>Confirm this before submit...</p>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>

                        <!-- Step 4 tab  ends -->
                    </form>
                </div>
                <!-- /.panel-body -->
                <!--/ End tabs content -->

                <!-- Start pager -->
                <!-- <div class="panel-footer">
                    <ul class="pager wizard no-margin">
                        <li class="previous">
                            <a href="javascript:void(0);">Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:void(0);">Next</a>
                        </li>
                    </ul>
                </div> -->
                <!-- /.panel-footer -->
                <!--/ End pager -->

            </div>
        </div>
        <!-- /#progress-wizard -->
        <!--/ End progress bar wizard-->

    </div>

</script>

<!-- Product Delete Dialog box -->


<script type="text/ng-template" id="productDelete.html">
    <div class="modal-header">
        <h3>
            <b>Delete Prodcut</b>
        </h3>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete this Product?</h3>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="dissmissModel()" class="btn btn-danger">Cancel</button>
        <button type="button" ng-click="deleteProduct()" class="btn btn-success">Delete</button>
    </div>

</script>

<!-- Edit product block -->

<script type="text/ng-template" id="productEditForm.html">
    <div class="modal-header">
        <h3>Edit Product</h3>
        <span style="color:red" ng-show="_isText_fill||false">please fill all fields</span>
    </div>
    <div class="modal-body">
        <div data-progress-wizard>
            <!--<h4>Progress Bar Wizard</h4>-->
            <div class="panel panel-tab rounded shadow">

                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab3-1" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step 1</span>
                                    <span>Product Details</span>
                                </div>
                            </a>
                        </li>

                        <li ng-repeat="items in steps track by $index">
                            <a href="#tab3-{{$index+2}}" data-toggle="tab">
                                <i class="fa fa-user"></i>
                                <div>
                                    <span class="text-strong">Step {{$index+2}}</span>
                                    <span> {{items}} Compatibility</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#tab4-4" data-toggle="tab">
                                <i class="fa fa-check-circle"></i>
                                <div>
                                    <span class="text-strong">Step 4</span>
                                    <span>Conformation</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <div class="panel-sub-heading">
                    <div class="inner-all">
                        <div class="progress progress-striped active no-margin progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-sub-heading -->

                <!-- Start tabs content -->
                <div class="panel-body">
                    <form class="tab-content form-horizontal" ng-submit="submit(_item)" enctype='multipart/form-data' method="post" class="modal-body"
                        class="form-horizontal form-bordered">

                        <div class="tab-pane fade in active inner-all" id="tab3-1">
                            <h4 class="page-header">Details</h4>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Attach Image</b>
                                </label>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src={{imgsrc|| "default-image.jpg"}} alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                    <div ng-show="imageButtons||false">
                                        <span class="btn btn-info btn-file">
                                            <span class="fileinput-new">Select image</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" file-model="myFile" name="file" accept=".jpg,.jpeg,.png">
                                        </span>
                                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Name</b>
                                </label>
                                <input class="form-control rounded" type="text" ng-model="_item.name">
                            </div>

                            <div class="form-group">
                                    <label class="control-label">
                                        <b>Product Id</b>
                                    </label>
                                    <input class="form-control rounded" type="text" ng-model="_item.product_id" ng-readonly="nameReadonly||false">
    
                                </div>
    
                                <div class="form-group">
                                    <label class="control-label">
                                        <b>Product Link</b>
                                    </label>
                                    <input class="form-control rounded" type="text" ng-model="_item.link" ng-readonly="nameReadonly||false">
                                </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Gender</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="gender" ng-options="opt for opt in _item.gender" ng-model="_item.selectedGender">
                                    <option value="" disabled>
                                        <b>Select a Gender</b>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label></label>
                                <div class="col-sm-3">
                                    <label class="control-label">
                                        <b>Category</b>
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel1" ng-valye="$index" ng-model="_item.selectedCategoryLevel1"
                                        ng-options="opt for opt in _item.categoryLevel1" ng-change="updateCategoryLevel_Brand_Material_Pattern_Finishing(_item.selectedCategoryLevel1)">
                                        <option value="" disabled>
                                            <b>Level-1</b>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel2" ng-model="_item.selectedCategoryLevel2" ng-init="_item.categorylevel2[0].value"
                                        ng-options="opt for opt in _item.categoryLevel2">
                                        <option value="" disabled>
                                            <b>level-2</b>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm mb-15" name="categorylevel3" ng-model="_item.categorylevel3" ng-options="opt for opt in _item.categorylevel3">
                                        <option value="" disabled>
                                            <b>level-3</b>
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Brand</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="brand" ng-options="opt for opt in _item.brand" ng-model="_item.selectedBrand">
                                    <option value="" disabled>
                                    </option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label">
                                    <b>Material</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Material'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="material" ng-model="_item.selectedMaterial" ng-options="opt for opt in _item.material">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Pattern</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="pattern" ng-options="opt for opt in _item.pattern" ng-model="_item.selectedPattern">
                                    <option value="" disabled>
                                        <b>Pattern Type</b>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Finishing</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="finishing" ng-options="opt for opt in _item.finishing" ng-model="_item.selectedFinishing">
                                    <option value="" disabled>Finishing Type</option>
                                </select>
                            </div>



                            <div class="form-group">
                                <label class="control-label">
                                    <b>Select Age-Group</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Age-Group'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="" ng-model="_item.selectedAgegroup" ng-options="opt for opt in _item.agegroup">
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Colors</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Colors'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="" ng-model="_item.selectedColor" ng-options="opt for opt in _item.color">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Sizes</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Sizes'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="size" ng-model="_item.selectedSize" ng-options="opt for opt in _item.size">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Seasons</b>
                                </label>
                                <select chosen data-placeholder-text-multiple="'Select Seasons'" multiple tabindex="4" class="form-control input-sm mb-15 chosen-select"
                                    name="season" ng-model="_item.selectedSeason" ng-options="opt for opt in _item.season">
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    <b>Available Styels</b>
                                </label>
                                <select class="form-control input-sm mb-15" name="style" ng-options="opt for opt in _item.style" ng-model="_item.selectedStyle">
                                    <option value="" disabled>Available Styels</option>
                                </select>
                            </div>

                        </div>


                        <!-- Step 2 and step 3 tabs  starts -->

                        <div class="tab-pane fade inner-all" ng-repeat="($index1,items) in steps track by $index" id="tab3-{{$index+2}}">
                            <div>
                                <h4 class="page-header">{{items | uppercase}}</h4>
                                <div class="form-group">

                                    <label class="control-label">
                                        <h3>Brands</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('brand',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('brand',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>


                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleBrands[$index1]">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].brand" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Materials</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('material',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('material',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleMaterials[$index1]">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].material" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Patterns</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('pattern',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('pattern',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatiblePatterns[$index1]">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].pattern" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Finishes</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('finishing',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('finishing',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in compatibleFinishings[$index1]">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].finishing" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>


                                    <label class="control-label">
                                        <h3>Sizes</h3>
                                    </label>

                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('size',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('size',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>

                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.size">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].size" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Colors</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('color',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('color',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.color">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].color" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Age Groups</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('ageGroup',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('ageGroup',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.agegroup">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].agegroup" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Seasons</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('season',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('season',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.season">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].season" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                    <label class="control-label">
                                        <h3>Styles</h3>
                                    </label>


                                    <div class="ckbox ckbox-theme">
                                        <button type="button" class="btn btn-link" ng-click="checkAll('style',steps[$index1])">Select All</button>
                                        <button type="button" class="btn btn-link" ng-click="unCheckAll('style',steps[$index1])">Unselect All</button>
                                    </div>
                                    <br>
                                    <div class="ckbox ckbox-theme" ng-repeat="rows in _item.style">
                                        <input id="{{rows+'_'+$index1}}" type="checkbox" checklist-model="filter[steps[$index1]].style" checklist-value="rows">
                                        <label for="{{rows+'_'+$index1}}">{{rows}}</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Step 2 and step 3 tabs ends-->


                        <!-- Step 4  tab  -->


                        <div class="tab-pane fade inner-all" id="tab4-4">
                            <h4 class="page-header">Confirmation</h4>
                            <div class="ml-10">
                                <p>Confirm this before submit...</p>
                            </div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>

                        <!-- Step 4 tab  ends -->
                    </form>
                </div>
                <!-- /.panel-body -->
                <!--/ End tabs content -->

                <!-- Start pager -->
                <!-- <div class="panel-footer">
                    <ul class="pager wizard no-margin">
                        <li class="previous">
                            <a href="javascript:void(0);">Previous</a>
                        </li>
                        <li class="next">
                            <a href="javascript:void(0);">Next</a>
                        </li>
                    </ul>
                </div> -->
                <!-- /.panel-footer -->
                <!--/ End pager -->

            </div>
        </div>
        <!-- /#progress-wizard -->
        <!--/ End progress bar wizard-->

    </div>

</script>