<style>
     #AlertBox{position:absolute;z-index:1400;top:-1%;right:4%;margin:0px auto;text-align:center;display:none;}
</style>
<div class="row">
    <div class="col-md-12">
        <!-- Start table horizontal scroll -->
        <div class="table-responsive mb-20">
            <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;
    border-color: #d6e9c6;padding: 10px;">Successfully performed</div>
             <form ng-submit="submit(settings)" enctype='multipart/form-data' method="post" class="modal-body">
            
             <div class="form-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Look-Type</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.looktype" ng-model="settings.selectedlooktype" ng-change="changeLooktype(settings.selectedlooktype)">
                            <option value="" disabled>Select a Look-Type</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.gender" ng-model="settings.selectedgender" ng-change="changeGender(settings.selectedgender)">
                            <option value="" disabled>Select a Gender</option>
                        </select>
                    </div>
                </div>

               <div class="form-group">
                    <label class="col-sm-3 control-label">Sizes</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm mb-15"  ng-options="opt for opt in settings.size" ng-model="settings.selectedsize">
                            <option value="" disabled>Select a Sizes</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Brand</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm mb-15" name="brand" ng-options="opt for opt in settings.brand" ng-model="settings.selectedbrand">
                            <option value="" disabled>Select a Brand</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Filters</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm mb-15" name="filter" ng-options="opt for opt in settings.filter" ng-model="settings.selectedfilter">
                            <option value="" disabled>Select a Filter</option>
                        </select>
                    </div>
                </div>

                <button ng-model="settings.search" ng-click="search(settings);">Search</button>

            
          </div>
        </form>

        </form>

            <table class="table table-striped table-success">
                <thead>
                <tr>
                    <th class="text-center border-right" style="width:50px">No.</th>
                    <th class="text-center border-right">Top</th>
                    <th class="text-center border-right">Bottom</th>
                    <th class="text-center border-right">Shoes</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in products">
                        <td class="text-center border-right" style="width:50px;padding-top:22px">{{$index + 1}}</td>

                        <td class="border-right">
                            <img src={{table[0].productimage}} alt="{{table[0].name}}" width="50" height="50">
                            <span>{{table[0].name}}, {{table[0].gender}}, {{table[0].size}}, {{table[0].brand}}</span>
                        </td>
                        
                        <td class="border-right">
                            <img src={{table[1].productimage}} alt="{{table[1].name}}" width="50" height="50">
                            <span>{{table[1].name}}, {{table[1].gender}}, {{table[1].size}}, {{table[1].brand}}</span>
                        </td>
                        
                        <td class="">
                            <img src={{table[2].productimage}} alt="{{table[2].name}}" width="50" height="50">
                            <span>{{table[2].name}}, {{table[2].gender}}, {{table[2].size}}, {{table[2].brand}}</span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End table horizontal scroll -->
    </div>
</div><!-- /.row -->
