<style>
    #AlertBox {
        position: absolute;
        z-index: 1400;
        top: -2%;
        right: 4%;
        margin: 0px auto;
        text-align: center;
        display: none;
    }

    .angular-ui-tree-handle {
        background: #f8faff;
        border: 1px solid #dae2ea;
        color: #7c9eb2;
        padding: 10px 10px;
    }

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    tr.angular-ui-tree-empty {
        height: 100px
    }

    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    /* --- Tree --- */

    .tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }

    .nodrop {
        background-color: #f2dede;
    }

    .tree-node-content {
        margin: 10px;
    }

    .tree-handle {
        padding: 10px;
        background: #428bca;
        color: #FFF;
        margin-right: 10px;
    }

    .angular-ui-tree-handle:hover {}

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
<div class="row">
    <div class="col-md-12">

        <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;
    border-color: #d6e9c6;padding: 10px;">Successfully performed</div>
        <!-- Start input fields - basic form -->
        <div class="panel rounded shadow">

            <div data-progress-wizard>
                <!--<h4>Progress Bar Wizard</h4>-->
                <div class="panel panel-tab rounded shadow">

                    <!-- Start tabs heading -->
                    <div class="panel-heading no-padding">
                        <ul class="nav nav-tabs">

                            <li ng-class='{active:$first}' ng-repeat="items in steps track by $index">
                                <a href="#tab3-{{$index+1}}" data-toggle="tab">
                                    <i class="fa fa-user"></i>
                                    <div>
                                        <span class="text-strong">{{items.text | uppercase}}</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.panel-heading -->
                    <!--/ End tabs heading -->

                    <div class="panel-sub-heading">
                        <div class="inner-all">
                            <div class="progress progress-striped active no-margin progress-xs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-sub-heading -->


                    <div class="panel-body">

                        <!--<form ng-submit="form_submit(appsettings)">-->
                        <form class="tab-content form-horizontal" ng-submit="form_submit(appsettings)" class="modal-body">
                            <button class="btn btn-success" type="submit" style="float:right;bottom:43px;">Submit</button>
                            <h4>
                                <b> Important Note:</b>Seperate each item by using comma "," character,don't add whitespace before
                                or after the comma.</h4>
                            <div class="tab-pane fade inner-all" ng-class='{"in active":$first}' id="tab3-{{$index+1}}" ng-repeat="items in steps track by $index">
                                <h4 class="page-header">Details {{items.text | uppercase}}</h4>

                                <!--  Tab-1    categories Detial   starts -->
                                <div ng-if="items.text=='categories'" style="background-color:orange">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div ui-tree data-drag-enabled=false data-max-depth="2" id="tree-root">
                                                <ol ui-tree-nodes ng-model="appsettings.categories">
                                                    <li ng-repeat="node in appsettings.categories" ui-tree-node ng-include="'nodes_renderer.html'">
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  Tab-1   categories Detial Ends -->


                                <div ng-if="!$first && items.text == 'common'">
                                    <div class="form-group">
                                        <label class="control-label">Sizes</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.size" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-label">Colors</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.color" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-label">Age Groups</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.agegroup" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Seasons</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.season" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Styles</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.style" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->

                                </div>
                                <div ng-if="!$first && items.text != 'common'">
                                    <div class="form-group">
                                        <label class="control-label">Material</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.material[items.text]" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-label">Patterns</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.pattern[items.text]" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group">
                                        <label class="control-label">Brands</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.brand[items.text]" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label class="control-label">Finishes</label>
                                        <textarea class="form-control" rows="3" ng-model="appsettings.finishing[items.text]" ng-list="&#10;" ng-trim="false"></textarea>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!--/ End input fields - basic form-->

            </div>
            <!-- /.col-md-12 -->
        </div>
    </div>
</div>

<script type="text/ng-template" id="nodes_renderer.html">

    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}">
            </span>
        </a> {{node._id||node}}

        <!--ng-if="node.path!=null"-->

        <a class="pull-right btn btn-danger btn-xs" ng-if="node.path!=null" ng-click="_remove(this)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="pull-right btn btn-primary btn-xs" ng-if="node.path.length!=3" ng-click="newSubItem(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a class="pull-right btn btn-info btn-xs" ng-if="node.path!=null" ng-click="edit(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>

    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>


<script type="text/ng-template" id="textbox.html">
    <div class="modal-header">
        <h3>{{category_header_title||'Category'}}</h3>
        <span style="color:red" ng-show="_isText_fill||false">please fill all fields</span>
    </div>

    <div class="modal-body">
        <input class="form-control rounded" type="text" ng-model="inputText">
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
        <button type="button" ng-click="func(inputText)" class="btn btn-success">Submit</button>
    </div>

</script>